{% extends 'hello/base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
    <h1>Authors</h1>
    <ul>
        {% for author in authors %}
            <li>
                <a href="{% url 'author_news' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>
                <p>{{ author.bio|truncatewords:30 }}</p>
                
                <!-- Check if the author has an associated photo and display it if available -->
                {% if author.photo %}
                    <img src="{{ author.photo.url }}" alt="{{ author.first_name }} {{ author.last_name }}" style="max-width: 150px; height: auto;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
