{% extends 'hello/base.html' %}

{% block title %}All News{% endblock %}

{% block content %}
    <h1>All News</h1>
    <ul>
        {% for news in news_list %}
            <li>
                <a href="{% url 'news_detail' news.id %}">{{ news.title }}</a> by {{ news.author.first_name }} {{ news.author.last_name }}
                <br>
                <small>Published on {{ news.pub_date }}</small>
                <p>{{ news.content|truncatewords:30 }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
